* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #e8eaed;
}

p, h2 {
	margin: 0;
}

a {
	text-decoration: none;
}

input, button {
	outline: none;
	border: none;
}

.crud {
	width: 800px;
	margin: 0 auto;
}

.main__header {
	display: flex;
	justify-content: flex-end;
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.main__header a {
	background-color: #4469ae;
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.main__header a:active {
	background-color: #1e3e79;
}

.card {
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	
}

.card__header {
	margin-bottom: 10px;
} 

.card__header .name {
	line-height: 50px;
	font-size: 22px;
}

.ava {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50%;
	flex-grow: 0;
}

.card__content h2 {
	font-size: 26px;
	margin-bottom: 10px;
}

.card__do {
	display: flex;
	justify-content: space-around;
	border-top: 2px solid	#e8eaed;
	border-bottom: 2px solid	#e8eaed;
	padding: 15px 0;
	margin-bottom: 10px;
}

.card__do button {
	background-color: #fff;
	color:#8a8a8b;
	font-size: 22px;
	cursor: pointer;
}

.card__do button:hover {
	color: #5a5a5a
}

.card__comment input{
	box-sizing: border-box;
	width: 100%;
	height: 45px;
	border-radius: 22.5px;
	font-size: 22px;
	background-color: #f2f3f5;
	color: #343131;
	padding: 0 15px;
}

.edit-card__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f5f6f7;
	color: #343131;
	font-size: 20px;
	padding: 10px 20px;
}

 .btn-close {
	float: right;
	color: #bec2c8;
	font-weight: bold;
	font-size: 26px;
	padding: 0px 5px;
	cursor: pointer;
}

 .btn-close:hover {
	color: #5e6064
}

.form-change {
	background-color: #fff;
	padding: 10px 20px;
}

.form-change input {
	flex-grow: 1;
	font-size: 22px;
	background-color: #f2f3f5;
	color: #343131;
	padding: 5px 15px;
	border-radius: 4px;
}

.row {
	display: flex;
}

.form-change .row {
	margin-bottom: 10px;
}

.form-change button {
	background-color: #4469ae;
	font-size: 22px;
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

.form-change button:active {
	background-color: #1e3e79;
}


.view-card .card__change button {
	font-size: 22px;
	padding: 5px 10px;
	color: white;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 10px;
}

.view-card .card__change .change {
	background-color: #4469ae;
}

.view-card .card__change .change:active {
	background-color: #1e3e79;
}

.view-card .card__change .remove {
	background-color: #b04546;
}

.view-card .card__change .remove:active {
	background-color: #7d2e2f;
}